services:
  db:
    image: postgres:16
    container_name: connecteamed-be-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - connecteamed-be-db:/var/lib/postgresql/data

volumes:
  connecteamed-be-db:
